<div class="section">
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar bg-light">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-home"></i><span class="label label-home">Home</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i><span class="label label-selling">Best Selling</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-plus-square"></i><span class="label label-arrivals">New Arrivals</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-female"></i><span class="label label-fashion">Fashion & Beauty</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-child"></i><span class="label label-kids">Kids & Babies Clothes</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-tshirt"></i><span class="label label-clothes">Men & Women Clothes</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i><span class="label label-gadgets">Gadgets & Accessories</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-microchip"></i><span class="label label-electronics">Electronics & Accessories</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  