.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 4px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
    border-bottom: none;
}

.mat-form-field {
    width: 100%;
}