.container {
    display: flex;
    flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
    justify-content: space-between; /* Distribute items evenly with space between */
    align-items: center;
    background-color: rgb(217, 245, 245); /* Vertically center items */
  }