.header-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: -5
  }
  
  .img-item {
    flex: 0 0 30% 30px; 
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .img-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .img-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
  }
  
  .img-item:hover .img-text {
    opacity: 1;
  }
  
  .img-text p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
  .img-test p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
  .image-preview {
    width: 20px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
  .img-item img {
    width: 250px;
    height: 300px;
  }
  