
<div class="header-img">
    <div class="img-item">
      <input type="file" (change)="handleImageUpload($event, 0)">
      <!-- <a class="img-text" href=""> -->
        <!-- <p>Some text goes here that describes the image</p> -->
      <!-- </a> -->
    </div>
    <div class="img-item">
      <input type="file" (change)="handleImageUpload($event, 1)">
      <!-- <a class="img-text" href=""> -->
        <!-- <p>Some text goes here that describes the image</p> -->
      <!-- </a> -->
    </div>
  </div>
  